.steps {
  max-width: 563px;
  /* font-size: 23px; */
  line-height: 35px;
}

.step-number {
  font-size: 23px;
}

.attendButton {
  background: #60c1e7;
  padding: 2rem;
  font-size: 24px;
  color: #ffffff;
  border-radius: 25px;
  width: 30%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
}

.attendButton:hover {
  text-decoration: none;
  color: #ffffff;
  background: #e79160;
}

.stepImage {
  width: 394px;
  margin: 3rem;
}

@media (max-width: 1150px) {
  .stepImage {
    width: 220px;
    margin: 1rem;
  }

  .steps {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
    text-align: justify;
    margin-left: 1rem;
  }

  .attendButton {
    padding: 2rem;
    font-size: 30px;
    width: 90%;
    max-width: 450px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
  }
}
